body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  line-height: 1.48;
  color: #7E7E7E;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  color: #7E7E7E;
}

h1 {
  font-size: 1.8em;
  margin-bottom: 0.8em;
}

a,
a:visited,
a:focus,
a:active {
  color: #7E7E7E;
}

.c-banner {
  position: relative;
  height: 18em;
  background-image: url("./giulia-bertelli-116358-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 60%;
  border-bottom: solid 5px #FF9473;
}
@media only screen and (min-width : 992px) {
  .c-banner {
    height: 20em;
  }
}
.c-banner:before {
  content: "";
  position: absolute;
  bottom: -1.2em;
  left: calc((100% - 2.4em) / 2);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1.2em 1.2em 0 1.2em;
  border-color: #FF9473 transparent transparent transparent;
}

.c-container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
  margin-bottom: 2em;
}
@media only screen and (min-width : 992px) {
  .c-container {
    flex-direction: row;
    padding: 3em;
    margin-bottom: 4em;
  }
}
.c-container h1 {
  position: relative;
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  color: #686A66;
}
.c-container h1:before {
  content: "";
  position: absolute;
  width: 10%;
  height: 5px;
  bottom: -0.5em;
  left: 0;
  background: #FB9375;
}

.c-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1em 0;
}
@media only screen and (min-width : 992px) {
  .c-contact {
    max-width: 50%;
    border-right: solid 3px #F8BD55;
    padding: 2em;
  }
}
.c-contact h1 {
  margin: 0 0 1.5em 0;
}
.c-contact p {
  margin-top: 0;
  color: #7E7E7E;
}

.c-form {
  max-width: 500px;
  margin: 0;
}
@media only screen and (min-width : 992px) {
  .c-form {
    padding: 1em;
    margin: 0 auto;
  }
}
.c-form label {
  margin-bottom: 1em;
}

.c-form-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.8em 0 1em 0;
}

label[for=email] > .c-form-label {
  margin: 0 0 0.2em 0;
}

.c-form-label {
  display: block;
  margin: 1em 0 0.2em 0;
  font-size: 0.8em;
  text-transform: uppercase;
  color: rgba(25, 25, 25, 0.8);
}
.c-form-label abbr {
  color: #EF5350;
  text-decoration: none;
}

.c-form-input {
  display: block;
  border-color: rgba(25, 25, 25, 0.1);
  border-width: 0 0 2px 0;
  padding: 0.2em 2em 0.2em 0;
  transition: border-color ease 300ms;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 99% 50%;
  width: 100%;
}
.c-form-input:focus {
  border-color: #03A9F4;
}
.c-form-input[aria-invalid=false] {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='%234CAF50' d='M9.984 17.016l9-9-1.406-1.453-7.594 7.594-3.563-3.563-1.406 1.406zM12 2.016c5.531 0 9.984 4.453 9.984 9.984s-4.453 9.984-9.984 9.984-9.984-4.453-9.984-9.984 4.453-9.984 9.984-9.984z'></path></svg>");
  margin-bottom: 0;
}
.c-form-input[aria-invalid=true] {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='%23F44336' d='M17.016 15.609l-3.609-3.609 3.609-3.609-1.406-1.406-3.609 3.609-3.609-3.609-1.406 1.406 3.609 3.609-3.609 3.609 1.406 1.406 3.609-3.609 3.609 3.609zM12 2.016c5.531 0 9.984 4.453 9.984 9.984s-4.453 9.984-9.984 9.984-9.984-4.453-9.984-9.984 4.453-9.984 9.984-9.984z'></path></svg>");
  border-color: #EF5350;
  margin-bottom: 0;
}
.c-form-input__length {
  font-size: 0.7em;
  color: #757575;
  float: right;
  clear: both;
  margin-top: 0.2em;
}

textarea.c-form-input {
  background-position: 99% 0;
}
textarea.c-form-input[aria-invalid=false] {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='%234CAF50' d='M9.984 17.016l9-9-1.406-1.453-7.594 7.594-3.563-3.563-1.406 1.406zM12 2.016c5.531 0 9.984 4.453 9.984 9.984s-4.453 9.984-9.984 9.984-9.984-4.453-9.984-9.984 4.453-9.984 9.984-9.984z'></path></svg>");
  margin-bottom: 0;
}
textarea.c-form-input[aria-invalid=true] {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='%23F44336' d='M17.016 15.609l-3.609-3.609 3.609-3.609-1.406-1.406-3.609 3.609-3.609-3.609-1.406 1.406 3.609 3.609-3.609 3.609 1.406 1.406 3.609-3.609 3.609 3.609zM12 2.016c5.531 0 9.984 4.453 9.984 9.984s-4.453 9.984-9.984 9.984-9.984-4.453-9.984-9.984 4.453-9.984 9.984-9.984z'></path></svg>");
  border-color: #EF5350;
}

.c-form-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border: solid #7E7E7E 2px;
  margin-right: 0.2em;
  border-color: #efefef;
  transition: ease 400ms;
  background-size: 0 0;
  cursor: pointer;
}
.c-form-checkbox:checked {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='%23FB9375' d='M9 16.172l10.594-10.594 1.406 1.406-12 12-5.578-5.578 1.406-1.406z'></path></svg>");
  background-size: 20px 20px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.c-form-checkbox + .c-form-label {
  margin: 0;
}

.c-form-submit {
  background-color: #FB9375;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: white;
  border: 0;
  padding: 0.5em 1em;
  margin-top: 1em;
  cursor: pointer;
  transition: ease 400ms;
  text-align: center;
  text-transform: uppercase;
}
.c-form-submit:hover {
  opacity: 0.9;
}

.c-thankyou {
  padding: 1em 0;
  opacity: 1;
  animation: fade 600ms forwards;
}
@media only screen and (min-width : 992px) {
  .c-thankyou {
    padding: 2em;
  }
}
.c-thankyou.u-hide {
  animation: none;
}

footer p {
  font-size: 0.8em;
  text-align: center;
  padding: 0.7em;
}

.u-alert {
  display: block;
  height: 0;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: ease 400ms;
  font-size: 0.8em;
}
.u-alert.invalid {
  color: #EF5350;
  opacity: 1;
  height: auto;
  max-height: none;
  margin-top: 0.3em;
}

.u-hide {
  display: none;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
