$bg-1: #FFCDD2
$bg-2: #B2EBF2
$music-bar: #2196F3
$music-bar-bg: #efefef
  
%player-action
  transition: 300ms
  &:hover
    opacity: 0.7
    cursor: pointer

div
  box-sizing: border-box

img
  width: 100%
  height: 100%

body
  font-family: 'Mukta', sans-serif
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  background: linear-gradient(-45deg, $bg-1 50%, $bg-2 50%)

//for all buttons
div > img
  @extend %player-action

.c-containter
  display: flex
  flex-flow: row wrap
  justify-content: center
  align-items: center
  width: 100vw
  height: 100vh
  padding: 0 1em

.music-container
  position: relative
  display: flex
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.3)

.album-cover
  flex: 1 0 30%
  img
    width: 100%
    height: 100%

.arrow
  position: absolute
  top: calc(50% - 2.5em)
  background: rgba(255,255,255,0.3)
  border: 0
  width: 5em
  height: 5em
  cursor: pointer
  &:hover
    background: rgba(255,255,255,0.5)
  img
    display: block
    width: 20px
    margin: 0 auto
  &.left
    left: -5em
  &.right
    right: -5em
.music-player
  display: flex
  flex-flow: column wrap
  justify-content: center
  background: white
  padding: 1em
  text-align: center
  width: 500px
  max-width: 500px
  &__title
    margin: 0 0 0.1em 0
  &__author
    margin: 0 0 0.5em 0

.music-bar 
  background: $music-bar-bg
  stroke-width: 1
  height: 5px
  #length
    width: 0%
    background: $music-bar
    height: 100%
    transition: width linear 400ms

.music-time
  display: flex
  flex-flow: row wrap
  &__last
    margin-left: auto

.music-order
  display: flex
  flex-flow: row wrap
  &__shuffle,
  &__loop
    width: 1.2em
    height: 1.2em
    margin: 0.5em 0
    opacity: 0.2
    &.is-loop
      opacity: 1 !important
  &__shuffle
    margin-left: auto

.music-control
  display: flex
  flex-flow: row wrap
  justify-content: center
  &__play
    width: 3em
    height: 3em
    margin: 0 1em


@media all and (min-width: 533px) and (max-width: 767px)

@media all and (max-width: 532px)
  .c-container,
  .music-container
    flex-flow: column wrap

  .music-container
    margin: 1em

  .album-cover

  .music-control
    &__play
      width: 2.2em
      height: 2.2em